body {
    min-width: 250px;
}

#key_entered {
    display: none;
}

#key_entered input {
    width: 100%;
    margin-bottom: 10px;
}

@keyframes animateScale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

#blob_image {
    animation: animateScale 2s infinite;
}

@-webkit-keyframes zoomInOut {
    0% {
        -webkit-transform: scale(0.8);
    }

    50% {
        -webkit-transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.8);
    }
}

#your_wave_id {
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2), transparent);
    position: absolute;
    bottom: 0;
    animation: wave 2s infinite linear;
}

@keyframes wave {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}